[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kerim/Desktop/main_folder]
row=4
col=0

[BE807F61807F1F59]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/kerim]
row=3
col=0

